<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block header %}
<div class="jumbotron">
    <h1>Track your learning.</h1>
</div>
{% endblock header %}
{% block content %}
    <h2>
<p>Learning Log</p>
<p>Learning log helps you keep track of your learning, for any topic you're
learning about.</p>
    </h2>
    <h2>
    Where you learn something new about a topic,make an entry summarizing what
    you're learned.
    </h2>
{% endblock content %}
</body>
</html>